<section id="work" class="full-height px-lg-5">
  <div class="container">
    <div class="row pb-4" data-aos="fade-up">
      <div class="col-lg-8">
        <h6 class="text-brand">WORK</h6>
        <h1>My Recent Projects</h1>
      </div>
    </div>

    <div class="row gy-4">
      <div class="col-md-6" data-aos="fade-up">
        <div class="card-custom rounded-4 bg-base shadow-effect">
          <div class="card-custom-image rounded-4">
            <img
              class="rounded-4"
              src="https://cdn.iplocation.net/assets/images/blog/featured/open-ai.jpg"
              alt=""
            />
          </div>
          <div class="card-custom-content p-4">
            <h4>Chat GPT Bot</h4>
            <p>
              Chat GPT Bot is a chatbot that uses the GPT-3.5 Model from OpenAI
              to generate responses. You can choose a scenario. This will set up
              the context for the bot, so it can generate relevant responses.
            </p>
            <a href="/scenarios" class="link-custom">Try It Out</a>
          </div>
        </div>
      </div>

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="card-custom rounded-4 bg-base shadow-effect">
          <div class="card-custom-image rounded-4">
            <img
              class="rounded-4"
              src="{{ url_for('static', filename='images/project-2.png') }}"
              alt=""
            />
          </div>
          <div class="card-custom-content p-4">
            <h4>title 2</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum, quibusdam.
            </p>
            <a href="#" class="link-custom">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="card-custom rounded-4 bg-base shadow-effect">
          <div class="card-custom-image rounded-4">
            <img
              class="rounded-4"
              src="{{ url_for('static', filename='images/project-3.png') }}"
              alt=""
            />
          </div>
          <div class="card-custom-content p-4">
            <h4>title 3</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum, quibusdam.
            </p>
            <a href="#" class="link-custom">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="900">
        <div class="card-custom rounded-4 bg-base shadow-effect">
          <div class="card-custom-image rounded-4">
            <img
              class="rounded-4"
              src="{{ url_for('static', filename='images/project-4.png') }}"
              alt=""
            />
          </div>
          <div class="card-custom-content p-4">
            <h4>title 4</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum, quibusdam.
            </p>
            <a href="#" class="link-custom">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
