<section id="about" class="full-height px-lg-5">
  <div class="container">
    <div class="row pb-4" data-aos="fade-up">
      <div class="col-lg-8">
        <h6 class="text-brand">About</h6>
        <h1>My Education and Experience</h1>
      </div>
    </div>
    <div class="row gy-5">
      <div class="col-lg-6">
        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">EDUCATION</h3>
        <div class="row gy-4">
          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Google Course 1</h4>
              <p class="text-brand mb-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, voluptatum.
              </p>
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, voluptatum.
              </p>
            </div>
          </div>
          <div class="col-12" data-aos="fade-up" data-aos-delay="900">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Google Course 2</h4>
              <p class="text-brand mb-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, voluptatum.
              </p>
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, voluptatum.
              </p>
            </div>
          </div>
          <div class="col-12" data-aos="fade-up" data-aos-delay="1200">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Google Course 3</h4>
              <p class="text-brand mb-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, voluptatum.
              </p>
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, voluptatum.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="900">EXPERIENCE</h3>
        <div class="row gy-4">
          <div class="col-12" data-aos="fade-up" data-aos-delay="1200">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Job 1</h4>
              <p class="text-brand mb-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, voluptatum.
              </p>
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, voluptatum.
              </p>
            </div>
          </div>
          <div class="col-12" data-aos="fade-up" data-aos-delay="1500">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Job 2</h4>
              <p class="text-brand mb-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, voluptatum.
              </p>
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, voluptatum.
              </p>
            </div>
          </div>
          <div class="col-12" data-aos="fade-up" data-aos-delay="1800">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Job 3</h4>
              <p class="text-brand mb-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, voluptatum.
              </p>
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, voluptatum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //ABOUT -->
