{% extends "base.html" %} {% block content %}
<div class="container full-height px-lg-5">
  <div class="row" data-aos="fade-up">
    <div class="col-lg-8 pb-4">
      <h6 class="text-brand">Chat Assistant</h6>
      <h1>What's your topic?</h1>

      <div class="flex-container">
        {% if message %}
        <div class="chat-box-user">
          <h6>User:</h6>
          <p class="chat-message">{{ message }}</p>
        </div>
        {% endif %}

        <form
          action="/chat"
          method="post"
          class="row gy-3 g-lg-3"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="form-group col-md-12">
            <textarea
              name="user_message"
              rows="4"
              class="form-control"
              placeholder="Enter your Message"
            ></textarea>
          </div>
          <div class="form-group col-md-12 d-grid">
            <button class="btn btn-brand" type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
